// $base-font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$base-font-family: Inter,
Roboto,
"Helvetica Neue",
Arial,
sans-serif;
$body: 14px;
$subheading: 22px;
$heading: 30px;