// Width
$max-width: 1300px;
// Colors
$navy-blue: #001F66;
$blue: #002883;
$light-blue: #F5F8FF;
$orange: #FF3B00;
$light-orange: #FFE6DE;
$white: #FFFFFF;
$black: #000000;
$dark: #333333;
$gray: #999999;
$primary: $navy-blue;
$secondary: $orange;
$radius: 10px;